<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth Sign-In</title>
  <style>
    #profile{
      width: 100px;
      height: 20px;
      background-color: red;
    }
  </style>
</head>
<body>
  <h1>Sign In with OAuth</h1>
  <button id="google-signin-client_id">Sign In with Google</button>
  <button id="facebook-signin">Sign In with Facebook</button>
  <p id="profile"></p>
  <script>
    document.getElementById('google-signin-client_id').addEventListener('click', () => {
      window.location.href = '/auth/google';
    });

    document.getElementById('facebook-signin').addEventListener('click', () => {
      window.location.href = '/auth/facebook';
    });
  </script>
  <script>
  
   

    (function(d, s, id){
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) {return;}
                          js = d.createElement(s); js.id = id;
                          js.src = "https://connect.facebook.net/en_US/sdk.js";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk')
    );


    window.fbAsyncInit = function() {
        <!-- Initialize the SDK with your app and the Graph API version for your app -->
        FB.init({
                  appId            : '{your-facebook-app-id}',
                  xfbml            : true,
                  version          : '{the-graph-api-version-for-your-app}'
                });
        FB.login(function(response) {
                  if (response.authResponse) {
                       console.log('Welcome!  Fetching your information.... ');
                       FB.api('/me', {fields: 'name, email'}, function(response) {
                           document.getElementById("profile").innerHTML = "Good to see you, " + response.name + ". i see your email address is " + response.email
                       });
                  } else { 
                       console.log('User cancelled login or did not fully authorize.'); }
        });
    };

  </script>
</body>
</html>
